body{
    background-image: url("index_background/3.jpg");
    background-size: cover;

    min-height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    color: black;

}
h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 5px;
    font-size: medium;
}
div.fontt{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
}
@font-face {
    font-family: twenten;
    src: url(fonts/romantic/RomanticSession-zre1G.otf);
}
h1.font{
    font-family: twenten;
    font-size: 800%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
}
h1.context{
    text-align: center;
    margin: 15px;
    font-size: 50px;
}
h1.wish{

}
.chair1{
    width: 150px;
    height: 150px;
    box-shadow: 5px 2px 5px 2px palevioletred;    transition: 0.3s;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    background-image: url('character/quynh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.chair1:hover{
    transition: 1.5s;
    width: 180px;
    height: 180px;    
    background-image: url('wishes_background/quynh.jpg');
    opacity: 1;
    transform: scale(2);
}
.chair2{
    width: 150px;
    height: 150px;
    box-shadow: 5px 2px 5px 2px palevioletred;    
    transition: 0.3s;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    background-image: url('character/vy.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    margin-top: 40px;
}
.chair2:hover{
    transition: 1.5s;
    width: 180px;
    height: 180px;     
    background-image: url('wishes_background/vy.jpg');
    opacity: 0.8;
    transform: scale(2);
}
.chair3{
    width: 150px;
    height: 150px;
    box-shadow: 5px 2px 5px 2px palevioletred;    transition: 0.3s;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    background-image: url('character/my.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.chair3:hover{
    transition: 1.5s;
    width: 180px;
    height: 180px;    
    background-image: url('wishes_background/my.jpg');
    opacity: 0.8;
    transform: scale(2);
}
.chair4{
    width: 150px;
    height: 150px;
    box-shadow: 5px 2px 5px 2px palevioletred;    transition: 0.3s;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    background-image: url('character/my.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    margin-top: 40px;
}
.chair4:hover{
    transition: 1.5s;
    width: 180px;
    height: 180px;    
    background-image: url('wishes_background/khanhh.jpg');
    opacity: 0.8;
    transform: scale(2);
}
a{
    text-decoration: none;
}
div.wishblock{
    background-color: bisque;
    width: 800px;
    height: 1000px;
}
/* another way to center
table, td{

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
}
*/

